/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My CSS*/
html,body {
	min-width: 900px;
	height: 100%;
}

nav {
	height: 60px;
	padding-left: 0.5%;
	padding-right: 1%;
}
.links_right {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}
li {
	float:left;
}
a  {
	display: block;
	width: 47px;
}
.nav_links {
	margin-top: 23px;
}
.apps {
	width: 16px;
	margin: 22px 0px;
	padding-left: 18px;
	padding-right: 13px;
}
.button.blue {
	border-color: #3079ed;
	background-color: #4d90fe;
	color: #ffffff;
}
.button {
	display: block;
	margin: 15px 10px;
	padding: 7px 10px;
	max-width: 50px;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: bold;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
}
.links {
	font-family: arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: black;
}
.links:visited {
	color: black;
}
.links:hover {
	color: black;
	text-decoration: underline;
}

#google_logo {
	width: 269px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 132px;
	padding-bottom: 20px;
}
#searchfield {
	width: 570px;
	margin-left: auto;
	margin-right: auto;
}
#logo {
	width: 269px;
	height: 95px;
}
#search_field {
	width: 570px;
	height: 27px;
	border: 1px solid #d9d9d9;
}
#search_field:hover {
	border: 1px solid #b0b0b0;
}
#search_field:focus {
	text-indent: 10px;
	border: 1px solid #3083ff;
	outline: none;
}
#search_buttons {
	text-align: center;
	margin-top: 17px;
}
#google_search {
	margin-right: 10px;
}

#google_search, #feeling_lucky {
  	display: inline-block;
  	border: 1px solid #dcdcdc;
  	border-color: rgba(0,0,0,0,1);
  	color: #444;
  	height: 29px;
  	min-width: 54px;
  	font-size: 11px;
  	font-weight: bold;
  	padding: 0px 8px;
  	border-radius: 2px;
  	text-align: center;
  	text-decoration: none;
}
#google_search:hover, #feeling_lucky:hover {
	border-color: #c6c6c6;
	color: #222;
	box-shadow: 0 1px 0 rgba(0,0,0,.15);
	background: gradient(top, #f8f8f8, #f1f1f1);
}
#google_search:focus, #feeling_lucky:focus {
	border: 1px solid #4d90fe;
	outline: none;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
}

footer {
	padding-top: 15px;
	height: 25px;
}
#terms {
	width: 140px;
	margin-right: 15px;
}
.footer_left {
	width: 90px;
}
span {
	color: #b14436;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px 0px -40px 0px;
}
#footer_wrapper {
	height: 40px;
	clear: both;
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}
#content_wrapper {
	position: relative;
	padding: 0px 0px 40px 0px;
}
#footer_link_left {
	position: absolute;
	width: 300px;
	height: 25px;
	margin-left: 27px;
}
#footer_right {
	margin-right: 27px;
}
